# ignore file from 'make'
*.o
*.mod

# ignore pede executable
/pede

# ignore readMilleBinary executable
/readMilleBinary

# ignore default installation directory
bin

# ignore editor backups
*.bck

# ignore documentation build dir 
buildDoc
.vscode/c_cpp_properties.json
build.log
